[main]
editor = vim
vcs =
    git
    svn
source = orgmode

[orgmode]
filename = /tmp/orgtest.org

[redmine]
url = http://example.org/redmine
user = me@example.org
pass = secret

[harvest]
url = https://example.harvestapp.com/
user = me@example.org
pass = secret

[git]
author = me@example.com
repos =
    /home/me/mygitrepo

[svn]
author = me@example.com
repos =
    /home/me/mysvnrepo
