[main]
editor = vim
vcs = git
source = orgmode

[orgmode]
filename = /tmp/orgtest.org

[redmine]
url = http://example.org/redmine
user = me@example.org
pass = secret

[git]
author = me@example.com
repos =
    /home/me/myrepo
