[main]
editor = vim
vcs =
    git
    svn
source = plaintext
list-template-file = ~/octodon.md.tmpl
list-item-template = * {description}: {comments}
list-file = ~/octodon.md
project-mapping =
    project-1 my-project-i
task-mapping =
    meeting Meeting
    call Project Management

[orgmode]
filename = /tmp/orgtest.org

[plaintext]
log_path = /home/me/Timetracking/*.txt

[redmine]
url = http://example.org/redmine
user = me@example.org
pass = secret

[harvest]
url = https://example.harvestapp.com/
user = me@example.org
pass = secret

[git]
executable = /usr/bin/git
author = me@example.com
repos =
    /home/me/mygitrepo

[svn]
executable = /usr/bin/svn
author = me@example.com
repos =
    /home/me/mysvnrepo
